**/.DS_Store

DL/data/annotations/*
DL/data/images/*
DL/data/temp/*
DL/outputs/pseudo_masks/*
DL/outputs/cams/*
DL/outputs/base_pseudo/*
DL/outputs/results/*
DL/models/segmentor/*
DL/models/segmentor/fully_supervised/*
DL/生成数据.zip

!DL/data/annotations/.gitkeep
!DL/data/images/.gitkeep
!DL/data/temp/.gitkeep
!DL/outputs/results/.gitkeep
!DL/outputs/pseudo_masks/.gitkeep
!DL/outputs/cams/.gitkeep
!DL/outputs/base_pseudo/.gitkeep
!DL/models/classifier/.gitkeep
!DL/models/segmentor/.gitkeep
!DL/models/segmentor/fully_supervised/
!DL/models/segmentor/fully_supervised/.gitkeep

*.zip
